*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.head{
	background-color: #f3f2f5;
	height: 53px;
	overflow: hidden;
}
.links{
	float: right;
	position: relative;
	top: 0;
	right: 230px;
	font-family: verdana;
	font-size: 20px;
}
.links a{
  	display: inline-block;
  	color: #652afa;
  	text-align: center;
  	padding: 10px 12px;
  	text-decoration: none;
  	height: 51px;
}
.links a:hover{
	background-color: #d1c006;
  	color: white;
}
.msg_logo{
	float: right;
	position: absolute;
	right: 165px;
	height: 50px;
	width: 60px;
	padding: 2px;
	margin-top: 2px;
	margin-left: 300px;
}
main{
	height: auto;
	overflow: hidden;
}
#box{
	display: grid;
	grid-template-rows: 600px 600px 600px 1050px 400px 700px 600px 700px 600px;
}
#p1{
	background-color: rgba(19, 15, 64,1.0);
  	color: white;
}
.cont{
	position: relative;
}
.cont .txt1{
	text-align: center;
	position: absolute;
	top: 150px;
	left: 310px;
	font-size: 35px;
	font-family: verdana;
}
.cont .txt2{
	text-align: center;
	position: absolute;
	top: 300px;
	font-family: verdana;
	left: 520px;
}
.cont .bttn{
	margin-top: 400px;
	margin-left: 430px;
	position: absolute;
	top: 0;
	width: 500px;
	height: 100px;
	padding: 20px;
}
.bttn_style{
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	font-family: verdana;
	background-color: rgba(19, 15, 64,0.3);
	margin-left: 20px;
	font-size: 25px;
}
.bttn_style:hover {
	background-color: #d1c006;
}
#p2{
	background-color: #e3e1dc;
	display: grid;
	grid-template-columns: 550px 550px;
	padding: 50px;
}
.p2_left{
	height: 500px;

}
.p2_right{
	height: 500px;
	margin-left: 25px;		
}
.t1{
	font-family: verdana;
	font-size: 40px;
	color: #280354;
	padding: 10px;
}
.t2{
	text-align: left;
	font-family: verdana;
	color: #280354;
	padding: 10px;
	margin-top: 15px;
	font-size: 12px;
}
.t3{
	padding: 10px;
	height: 300px;
	margin-top: 10px;
}
.mod_icon{
	margin-top: 20px;
	font-size: 20px;
	font-family: verdana;
	color: #280354;
	display: inline-block;
	width: 400px;
	height: 50px;
	padding: 5px 10px;
	text-align: justify;
}
#p3{
	background-color: rgba(19, 15, 64,1.0);
	font-family: verdana;
}
.container{
	position: relative;
	color: white;
}
.container .txta{
	text-align: center;
	position: absolute;
	top: 30px;
	left: 360px;
	font-size: 35px;
	font-family: verdana;

}
.container .icons{
	position: absolute;
	height: 300px;
	width: 1000px;
	top: 170px;
	left: 190px;
	display: grid;
	grid-template-rows: 100px 150px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 8px;
	grid-row-gap: 30px;
	grid-column-gap: 20px; 
}
.txt_icon{
	text-align: center;
	padding-top: 20px;
}
.container .cnt_btn{
	position: absolute;
	top: 500px;
	left: 550px;
}
#p4{
	background-color: #e3e1dc;
	padding: 70px;
	font-family: verdana;
}
.p4_1{
	height: 150px;
	line-height: 40px;
	font-size: 40px;
	padding-top: 10px;
	color: #280354;
}
.links1{
	float: left;
	position: relative;
	width: 100%;
	height: 50px;
	padding: 5px;
	margin-top: 20px;
	font-family: verdana;
}
.links1 a{
  	display: inline-block;
  	color: #280354;
  	text-align: center;
  	padding: 10px 12px;
  	text-decoration: none;
  	height: 40px;
}
.links1 a:hover{
	background-color: black;
  	color: white;
}
.p4_blocks{
	height: 700px;
	margin-top: 70px;
	display: grid;
	grid-template-rows: 200px 200px 200px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 14px;
	padding-top: 20px;
}
.p4_blocks_1{
	grid-row: 1/3;
}
.p4_blocks_5{
	grid-row: 2/4;
	grid-column: 3/4;
}
#p5{
	background-color: rgba(19, 15, 64,1.0);
}
.p5_int{
	color: white;
	position: absolute;
	top: 50px;
	left: 70px;
	margin: auto;
	height: 300px;
	width: 90%;
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 300px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.p5_icon{
	display: grid;
	grid-template-rows: 170px 130px;
	font-family: verdana;
	color: white;
	text-align: center;
}
.p5_text_top{
	font-size: 18px;
}
.p5_text_bttm{
	margin-top: 10px;
	font-size: 35px;
}
#p6{
	background-color: #e3e1dc;
	padding: 50px;
	font-family: verdana;
}
.p6_text{
	height: 130px;
	line-height: 40px;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
	color: #280354;
}
.p6_cards{
	height: 450px;
	width: 80%;
	margin: 30px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
}
.card{
	background-color: #f7f2f2;
	text-align: center;
	color: black;
	font-size: 12px;
	padding-top: 20px;
	line-height: 30px;
}
.card_mid{
	width: 75%;
	margin: 25px auto;
	line-height: 35px;
}
#p7{
	background-color: rgba(19, 15, 64,1.0);
	color: white;
	font-family: verdana;
}
.p7_txt{
	position: absolute;
	top: 30px;
	left: 150px;
	padding: 8px;
}
.p7_arrow{
	position: absolute;
	top: 30px;
	right: 50px;
	background-color: #280354; 
	height: 80px;
	width: 150px;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center; 
}
.p7_icon{
	position: absolute;
	height: 370px;
	top: 150px;
	left: 100px;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 5px;
}
.icn{
	display: grid;
	grid-row-gap: 30px;
	padding: 5px; 
	grid-template-rows: 100px 1fr;
	text-align: center;
}
.icons_tp{
	width: 50%;
	margin: 0 auto;
}
.icons_bt{
	width: 85%;
	margin: 0 auto;
	padding: 12px;
}
#p8{
	background-color: #e3e1dc;
	padding: 50px;
	font-family: verdana;
	color: #280354;
}
.p8_text{
	height: 120px;
	width: 80%;
	margin: 0 auto;
	line-height: 40px;
	font-size: 40px;
	padding: 10px;
	text-align: left;
}
.p8_cards{
	height: 450px;
	width: 80%;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
}
.card8{
	display: grid;
	grid-template-rows: 200px 120px 80px; 
}
.crd_txt{
	padding: 8px;
	font-size: 17px;
}
#p9{
	background-color: rgba(19, 15, 64,0.8);
	font-family: arial;
	color: white;
}
.foot_logo{
	height: 75px;
	width: 150px;
	margin-left: 80px;
}
.p9_mid{
	margin: 50px auto;
	height: 350px;
	width: 85%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 400px;
	grid-template-rows: 330px;
	padding: 10px;
	grid-gap: 10px;	 
}
.mid_txt{
	padding: 20px;
	text-align: left;
}
.mid_txt ul{
	list-style-type: none;
	margin-top: 30px;
	font-size: 15px;
	line-height: 25px;
}
.mid_txt_rt{
	padding: 20px;
}
.p9_bttm{
	width: 70%;
	line-height: 25px;
	margin: 70px auto;
	border-top: 1px solid white;
	text-align: center;
}
.inp_bx{
	display: inline-grid;
	margin: 30px auto;
	width: 300px;
	border: none;
	grid-template-columns: 1fr 100px;
}
.inp_bx input{
	height: 50px;
	background-color: white;
	width: 200px;
	border-radius: 30px 0px 0px 30px;
	font-size: 25px;
	color: grey;
	padding: 10px 20px;
	margin: 0 auto;
	border: none;
}
.inp_bx button{
	height: 50px;
	background-color: yellow;
	width: 90px;
	border-radius: 0px 30px 30px 0px;
	font-size: 25px;
	color: grey;
	padding-right: 20px;
	margin-left: 0px;
	border: none;
}

