*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		color: white;
	}
	main{
		margin: 20px auto;
		width: 98%;
	}
	#container{
		background-color: #e60000;
	}
	#bottom{
		background-color: red;
		display: grid;
		grid-template-rows: 300px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 3px;
	}
	#content{
		
		height: 300px;
		padding: 50px;
	}
	.card{
		background-color: #660000;
		padding: 30px;
	}
	.txt{
		margin: 30px 0;
		
	}
	