* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.red{
	width: 200px;
	height: 200px;
	background-color: red;
}
.txt{
	margin: 5px 0px;
	padding: 5px;
}
button{
	margin-left: 5px;
	padding: 5px;
}